.as-float-left{
    float: left;
}
.asex_inline{
    display: inline-block;
}
.dslc-post-filters{
    float:none !important;
}
.dslc-post-filter{
    float:none !important;
    display:inline-block !important;
}
.dslca-section-title-filter-options {
    min-width: 160px;
}
.asex_email_mailchimp,
asex_button_submit_mailchimp{
    display: inline-block;
    vertical-align: middle;
}