.as_mailchimp_form {
    padding: 15px;
    .as_email_mailchimp {
        width: 100%;
        margin-bottom: 10px;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 15px;
        padding-right: 15px;
        border-color: #ccc;
        border-radius: 3px;
    }
    .as-button-main-style {
        width: 100%;
    }
}

.as_label_subscribe {
    margin-bottom: 10px;
    font-size: 16px;
}