.as-video-embed {
    text-align: center;
}

.as-notification {
    height: 60px;
    line-height: 60px;
    font-size: 14px;
}

.as-red {
    background: #f65757;
    border-color: #e43737;
    color: #fff;
}