.as-no-hidden {
    overflow: visible;
    -webkit-mask-image: inherit;
}

.as-pricing-wrapper {
    .dslc-info-box-icon {
        .dslc-icon {
            position: absolute;
            left: 0px;
            right: 0px;
            margin: 0 auto;
        }
    }
}